.main {
  display: flex;
  justify-content: center;
  padding: 6rem;
  min-height: 100vh;
  align-items: 'center';
  background: linear-gradient(to right, #ffffff70, "gray");
  background-image: url('/img/background.jpg');
  background-size: cover;
  background-position: center; 
  background-repeat: no-repeat; 
  opacity: 1;
  background: "black"; 

}
.main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5); 
}
@keyframes flipCard {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(180deg);
  }
}

.flip {
  animation: flipCard 0.6s ease-in-out;
  transform-style: preserve-3d;
}
.card {
  z-index: 1; 
  background-color: "black";
  width: 600px; 
  border: 1px solid rgba(17, 13, 13, 0.836);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  align-items: center;
  align-self: center;
  padding: 55px;
}